@model IEnumerable<Models.Materia>

@{
    ViewBag.Title = "Materias";
}

<h2>Materias</h2>

@if(Model.Count() < 10)
{
    <p>
        @Html.ActionLink("Crear", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creditos)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creditos)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.MateriaID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.MateriaID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.MateriaID })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Regresar", "IndexAdministrador", "Home")
